body
{
	background-color: ghostwhite;
	
}
h1
{
	font-family: Georgia, 'Times New Roman', Times, serif;
}


sup,sub
{
	color: red;
}

table
{
	border: 1px solid black;
	margin-top:1%;
    margin-left: 1%;
	margin-right: 1%;
	
}
td,th{
	padding: 10px;
	line-height: 25px;
}
th{
	font-size: 25px;
	font-weight: bolder;
	border: 1px black solid;
	padding-inline: 0px;
}
td{
	border: 1px rgb(152, 214, 152) solid;
}

.lettre
{
	text-align: center;
	background-color:rgb(231, 240, 236);
	font-size: 30px;
	font-weight: bolder;
	color: black;
	border: none;
}
caption
{
	font-size: 30px;
}
.elt1
{
	color: red;
	text-align: center;
	font-size: large;
	font-weight: bolder;
}
.inline ,.blk
{
	font-size: large;
	display: block;
	font-weight: bolder;
	background-color: greenyellow;
}
.role{
	font-family: Georgia, 'Times New Roman', Times, serif;
	line-height: 25px;
}
/*page css*/
/*entête*/
header{

		background-color: white;
	border: 1px solid green;
	height: max-content;
	overflow: auto;

}
/*menu de navigation div*/
.nav{ 
	float: left;
	border: 1px solid white;
	
 }
 .bar-nav{
align-items: centedisplay: flex;
display: flex;

	justify-content: space-around;

 }

h1{
	text-align: center;
	font-family: verdana;
	color: green;
	
}
.ht,h2{
	font-size:60px;
	border: 2px rgb(152, 214, 152) solid;
	background-color:rgb(231, 240, 236);
	font-weight: bolder;
	margin: auto;
	text-align: center;
}
a.nav:link , a.nav:visited {
	display: inline-block;
	text-align: center;
	padding: 10px 20px;
	background-color: green;
	color: white;
	text-decoration: none;
	
	
}
a.nav:hover ,a.nav:active{
background-color: rgb(231, 240, 236);
color: black;
	
}

a{
	font-size: 20px;
}




summary {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: green;
	

}
li{
		
		border: 1px solid white;
}
.menu{

	float:left;
	display: inline-block;
	overflow: hidden;
}
pre{
	line-height: 19px;
	background-color: lightgreen;
	max-width: max-content;
}
dt{
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	
}
.box-model{
	vertical-align: top;

}
dd{


	line-height: 25px;
}





